/*  your css code here. If applicable */
body {
	background-color: rgb(204,204,204);
}
h1,h2 {
	text-align: center;
}
ul {
	background-color: rgb(255,255,255);
	border: 2px solid black;
	padding: 20px 10px;
	border-radius: 5px;
	
}
a {
	text-decoration: none;
	color: black;
}
li {
	list-style-type: none;
	
}
.div2 {
	background-color: rgb(255,255,255);
	margin: 0 50px;
	border: 2px solid black;
	padding: 10px;
	border-radius: 5px;
}
.player_one {
	width: 100%;
	background-color: white;
}
.player_two {
	width: 100%;
	background-color: white;
}